[build]
  publish = "public"
  command = "hugo --gc --minify"
  
[context.production.environment]
  HUGO_VERSION = "0.121.2"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"
  HUGO_EXTENDED = "true"