.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding: 170px 0 200px;
  position: relative;
  @include tablet {
    background-attachment: scroll;
    padding: 150px 0;
    h1{
      font-size: 35px;
    }
  }

  .block {
    color: #E3E3E4;
    text-align: center;

    h1 {
      font-weight: 300;
      font-size: 45px;
      line-height: 60px;
      letter-spacing: 10px;
      padding-bottom: 45px;
      text-transform: uppercase;
    }

    h4 {
      font-weight: 10;
      font-size: 10px;
      color: #b9b9b9;
    }

    p {
      margin-bottom: 40px;
      color: #b9b9b9;
      font-size: 18px;
      line-height: 27px;
      font-weight: 300;
    }

    .resume-links {
      margin-top: 40px;
      align-items: center;
      text-align: center;

      i {
        font-size: 40px;
        font-weight: 300;
        color: #b9b9b9;
      }

      p {
        color: #b9b9b9;
        font-size: 18px;
        line-height: 27px;
        font-weight: 300;
        margin-bottom: 0;
      }
    }
  }
}