<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-manu">
					<ul>
            {{ range site.Menus.footer }}
            <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{ end }}
					</ul>
				</div>
				<p class="copyright">{{ site.Copyright | markdownify }}</p>
			</div>
		</div>
	</div>
</footer>

<!-- Google Map API -->
{{ if site.Params.gmap.enable }}
<script src="{{ site.Params.gmap.gmap_api | safeURL }}"></script>
{{ end }}

<!-- JS Plugins -->
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

<!-- Google Analytics (gtag.js) -->
{{ $ga := "" }}
{{ with site.Config.Services.GoogleAnalytics.ID }}{{ $ga = . }}{{ end }}
{{ if not $ga }}{{ with site.Params.google_analytics_id }}{{ $ga = . }}{{ end }}{{ end }}
{{ if not $ga }}{{ with site.Params.google_analitycs_id }}{{ $ga = . }}{{ end }}{{ end }}

{{ with $ga }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', '{{ . }}', { 'anonymize_ip': true });
</script>
{{ end }}